<div class="home-container text-center align-items-center">
  <div class="row">
    <div class="col-12">
      <div class="home-viewport header-container hidden animated">
        <h1 class="m-0 main-header hidden animated brandon-header">
          brandon
        </h1>
        <h1 class="m-0 main-header hidden animated laniog-header">
          Laniog
        </h1>
      </div>
      <div class="text">
        <p>
          <span class="word ">producer</span>
          <span class="word ">twitch-streamer</span>
          <span class="word ">voice-actor</span>
          <span class="word ">dj</span>
          <span class="word ">youtuber</span>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>