<section class=" project-two-container-two">
  <header class="">
    <div class="h-100 project-container row h-100">
      <div class="col-12 text-left mb-5">
        <h1 class="main-header music-header twitch-title hidden animated">
          TWITCH
        </h1>
        <p style="font-size: 22px;" class="album-text text-white hidden animated">
            27 year-old from California living in Texas. 
            <br>
            Music, movies and gaming are passions! 
            <br>
            Working full time doesn't allow for much time on Twitch, 
            <br>
            but I do what I can! 
            <br>
            I hope you guys enjoy spending time here!
        </p>
      </div>

    </div>
    <div class="overlay"></div>
    <video class="twitch-video" playsinline loop autoplay [muted]="'muted'">
      <source src="../../assets/video/twitch-clip-1.mp4" type="video/mp4">
    </video>
  </header>
</section>