<div class="music-container text-center ">
  <div class="row">
    <div class="col-12 text-left mb-5">
      <h1 class="main-header music-header">
        MUSIC
      </h1>
    </div>
    <div id="inverse" class="col-xl-4 mb-5 hidden animated">
      <div class="row">
        <div class="col-md-6 mb-1 album-container">
          <a href="https://brandonlaniog.bandcamp.com/album/inverse-ep" target="_blank">
            <img src="../../assets/img/albums/inverseEp.jpg">
          </a>
        </div>
        <div class="col-md-6 text-left ">
          <h4 class="album-title">
            INVERSE EP
          </h4>
          <p class="album-text">
            1.
            Let You Go

            <br>
            2.
            Dreamer

            <br>
            3.
            A Thousand Mile Gaze

            <br>
            4.
            Dark Room

            <br>
            5.
            Demons

            <br>
            6.
            Spectre
          </p>
        </div>
      </div>
    </div>
    <div id="heartbeat" class="col-xl-4 mb-5 hidden animated">
      <div class="row">
        <div class="col-md-6 mb-1 album-container">
          <a href="https://brandonlaniog.bandcamp.com/album/heartbeat" target="_blank">
            <img src="../../assets/img/albums/heartBeat.jpg">
          </a>
        </div>
        <div class="col-md-6 text-left">
          <h4 class="album-title">
            Heartbeat
          </h4>
          <p class="album-text">

            1.
            Hello
            <br>
            2.
            Heartbeat
            <br>
            3.
            Cerulean
            <br>
            4.
            Divide
            <br>
            5.
            FYF
            <br>
            6.
            VOID
            <br>
            7.
            Go Get 'Em
            <br>
            8.
            Creature
            <br>
            9.
            Blanc
          </p>
        </div>
      </div>
    </div>
    <div id="sentient" class="col-xl-4 mb-5 hidden animated">
      <div class="row">
        <div class="col-md-6 mb-1 album-container">
          <a href="https://brandonlaniog.bandcamp.com/album/sentient" target="_blank">
            <img src="../../assets/img/albums/sentient.jpg">
          </a>
        </div>
        <div class="col-md-6 text-left">
          <h4 class="album-title">
            SENTIENT
          </h4>
          <p class="album-text">
            1.
            Sentient
            <br>

            2.
            Dormant
          </p>
        </div>
      </div>
    </div>
    <div id="resurgence" class="col-xl-4 mb-5 hidden animated">
      <div class="row">
        <div class="col-md-6 mb-1 album-container">
          <a href="https://brandonlaniog.bandcamp.com/album/resurgence" target="_blank">
            <img src="../../assets/img/albums/resurgence.jpg">
          </a>
        </div>
        <div class="col-md-6 text-left">
          <h4 class="album-title">
            RESURGENCE
          </h4>
          <p class="album-text">
            1.
            The Evil
            <br>
            2.
            The Insanity
            <br>
            3.
            Masked
            <br>
            4.
            Ork
            <br>
            5.
            Rage

          </p>
        </div>
      </div>
    </div>
    <div id="the-runner" class="col-xl-4 mb-5 hidden animated">
      <div class="row">
        <div class="col-md-6 mb-1 album-container">
          <a href="https://brandonlaniog.bandcamp.com/album/the-runner-ep" target="_blank">
            <img src="../../assets/img/albums/theRunner.jpg">
          </a>
        </div>
        <div class="col-md-6 text-left">
          <h4 class="album-title">
            THE RUNNER EP
          </h4>
          <p class="album-text">
            1.
            The Runner
            <br>
            2.
            Extraction
            <br>
            3.
            Hercules
            <br>
            4.
            Welcome To The Stream
          </p>
        </div>
      </div>
    </div>
  </div>