@import '~bootstrap/dist/css/bootstrap.min.css';
  
/* =========================================================================================== Fonts */

  @font-face {
    font-family: 'ralewayBold';
    src: url('../src/assets/fonts/Raleway-Bold.ttf');
  }

  @font-face {
    font-family: 'ralewayLight';
    src: url('../src/assets/fonts/Raleway-Light.ttf');
  }

  @font-face {
    font-family: 'ralewayBold';
    src: url('../src/assets/fonts/Raleway-Bold.ttf');
  }

  @font-face {
    font-family: 'ralewaySemi';
    src: url('../src/assets/fonts/Raleway-SemiBold.ttf');
  }

  @font-face {
    font-family: 'ralewayExtraBold';
    src: url('../src/assets/fonts/Raleway-ExtraBold.ttf');
  }

  @font-face {
    font-family: 'ralewayThin';
    src: url('../src/assets/fonts/Raleway-Thin.ttf');
  }

/* =========================================================================================== Main CSS */

* {
    scroll-behavior: smooth !important;
}

body, html {
    font-family: 'ralewaySemi';
    scroll-behavior: smooth !important;
}

.site-background {
    overflow-x: hidden;
    background: rgb(77, 141, 202);
}

.home-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-container {
    padding: 132px 260px;
    position: relative;
    min-height: 100vh;
    display: flex;
}

.music-header {
    padding-left: 8px;
    border-left: 8px solid #B400FF;
}
.album-container img {
    width: 100%;
}

.album-text {
    color: #505464;
    font-family: 'ralewaySemi';
}

.album-title {
    font-family: 'ralewayExtraBold';
    color: #fff;
    font-size: 32px;
    border-bottom: 4px solid #B400FF;
    line-height: 30px;
}

.main-header {
    text-align: left;
    font-family: 'ralewayExtraBold', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 52px;
    text-transform: uppercase;
    color: #FFF;
    
}

.header-container {
    border-left: 12px solid #B400FF;
}

/* ================================================================================================ Navigation */

.vertical-menu {
    z-index: 12;
    position: fixed;
    left: 32px;
    top: 44%;
    width: 240px;
  }
.nav-rectangle {
    background: #fff;
    height: 30px;
    width: 10px;
    transition: 400ms !important;
}

.nav-link-text {
    opacity: 0;
    color: #fff;
    font-family: 'ralewayExtraBold';
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    left: -40px;
    transition: 200ms;
}

.nav-link-container {
    margin-bottom: 35px;
    padding: 0 4px;
}

.nav-link-container:hover .nav-link-text {
    opacity: 1;
    color: #fff;
    font-family: 'ralewayExtraBold';
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
    transition: 300ms;
}

.nav-link-container:hover .nav-rectangle {
    background: #B400FF;
    transition: 400ms !important;
}

.nav-rectangle-active
 {
    background: #B400FF;
    transition: 400ms !important;
 }

 .nav-link-text-active {
    opacity: 1;
    color: #fff;
    font-family: 'ralewayExtraBold';
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    left: 0px;
    transition: 300ms;
 }

.social-media-row .fab {
    cursor: pointer;
    color: #fff;
    font-size: 40px;
    margin-left: 34px;
    transition: 350ms;
    position: relative;
}

.fa-twitter:hover {
    color: #00acee;
    transition: 350ms;
    text-shadow: 2px 2px 3.5px #505464;
}
.fa-youtube:hover {
    color: #c4302b;
    transition: 350ms;
    text-shadow: 2px 2px 3.5px #505464;
}
.fa-twitch:hover {
    color: #6441a5;
    transition: 350ms;
    text-shadow: 2px 2px 3.5px #505464;
}
.fa-soundcloud:hover {
    color: #ff7700;
    transition: 350ms;
    text-shadow: 2px 2px 3.5px #505464;
}

.social-media-row {
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 20px 40px;
}

.project-container {
    padding: 132px 260px;
    position: relative;
    min-height: 100vh;
    display: flex;
    z-index: 10;
  }

  header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.twitch-title {
text-align: left;
  font-family: 'ralewayExtraBold', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
  /* border-left: 6px solid #eb3b5a; */
  padding-left: 24px;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(77, 141, 202, .8), rgba(77, 141, 202, .8));
    z-index: 1;
  }

  .twitch-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 120%;
    min-height: 120%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* +=============================================================================================== Animations */

  @keyframes left-activate {
    from {
        transform: translate3d(-10px,0,0)
    }
  
    to {
        transform: translate3d(18px,0,0);
        opacity: 1
    }
  }
  @-webkit-keyframes left-activate {
    from {
        transform: translate3d(-10px,0,0)
    }
  
    to {
        transform: translate3d(18px,0,0);
        opacity: 1
    }
  }

  @keyframes from-bottom-activate {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  @-webkit-keyframes from-bottom-activate {
    from {
        transform: translate3d(0,40px,0)
    }
  
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
  }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
  }
  
  .hidden {
    opacity: 0
  }

  .from-bottom-activate {
    opacity: 0;
    animation-name: from-bottom-activate;
    -webkit-animation-name: from-bottom-activate;
  }
  
  .left-activate {
    opacity: 0;
    animation-name: left-activate;
    -webkit-animation-name: left-activate;
  }

  /* ================================================================================== Word Rotator */

  .text {
    position: absolute;
    width: 100%;
    font-size: 30px;
  }
  
  .word {
    color: #505464;
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;
  }
  
  .letter {
    /* display: inline-block; */
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  @media only screen and (max-width: 680px) {
    

}