<div class="row social-media-row">
  <div class="col-12 text-right ">
    <a>
      <i class="fab fa-twitter"></i>
    </a>
    <a>
      <i class="fab fa-twitch"></i>
    </a>
    <a>
      <i class="fab fa-youtube"></i>
    </a>
    <a>
      <i class="fab fa-soundcloud"></i>
    </a>
  </div>
</div>
<nav class="vertical-menu">
  <a href="#home">
    <div class="nav-link-container row mb-2">
      <div class="col-1 p-0">
        <div class="nav-rectangle home-rectangle">
        </div>
      </div>
      <div class="nav-link-text col text-left home-nav">
        home
      </div>
    </div>
  </a>
</nav>