<div class="row social-media-row">
  <div class="col-12 text-right ">
    <a href="https://twitter.com/IcepickXIII" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.twitch.tv/icepickxiii" target="_blank">
      <i class="fab fa-twitch"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCSXOkewDTKE85CyV77hLCNw" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://soundcloud.com/brandonlegacytx" target="_blank">
      <i class="fab fa-soundcloud"></i>
    </a>
    <a href="https://www.instagram.com/icepickxiii/?hl=en" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>
<nav class="vertical-menu">
  <a routerLink="/">
    <div class="nav-link-container row mb-3">
      <div class="col-1 p-0">
        <div class="nav-rectangle home-rectangle">
        </div>
      </div>
      <div class="nav-link-text col text-left home-nav">
        home
      </div>
    </div>
  </a>
  <a routerLink="/music" >
    <div class="nav-link-container row mb-3">
      <div class="col-1 p-0">
        <div class="nav-rectangle music-rectangle">
        </div>
      </div>
      <div class="nav-link-text col text-left music-nav">
        music
      </div>
    </div>
  </a>
  <a routerLink="/twitch" >
    <div class="nav-link-container row mb-3">
      <div class="col-1 p-0">
        <div class="nav-rectangle twitch-rectangle">
        </div>
      </div>
      <div class="nav-link-text col text-left twitch-nav">
        twitch
      </div>
    </div>
  </a>
  <a href="#home">
    <div class="nav-link-container row mb-3">
      <div class="col-1 p-0">
        <div class="nav-rectangle youtube-rectangle">
        </div>
      </div>
      <div class="nav-link-text col text-left youtube-nav">
        youtube
      </div>
    </div>
  </a>
  <a href="#home">
    <div class="nav-link-container row mb-3">
      <div class="col-1 p-0">
        <div class="nav-rectangle voice-rectangle">
        </div>
      </div>
      <div class="nav-link-text col text-left voice-nav">
        voice acting
      </div>
    </div>
  </a>
</nav>